﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Money Lover</title>

    <link rel="stylesheet" href="css/reset.css">
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/fonts/google-fonts.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/myCss/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.kendostatic.com/2014.1.528/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.all.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="container-fluid"><!--open container-->
        <div class="row row-offcanvas row-offcanvas-left"><!--open row-->
            <div id="nav-section" class="col-xs-12 column"><!--open nav column-->
            <div class="navbar-default">
                <button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <h1 id="dash-logo" class="center-block">MONEYLOVER &#183; ♥</h1>
            <div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
                <ul class="nav">
                    <li ><a href="@(Url.Action("RegionalSalesStatus", "Home"))" ><span></span>Your Wallet</a></li>
                    <li ><a href="@(Url.Action("ProductsAndOrders", "Home"))" ><span></span>Income</a></li>
                    <li ><a href="@(Url.Action("TeamEfficiency", "Home"))" ><span></span>Expense</a></li>
                    <li ><a href="@(Url.Action("About", "Home"))" ><span></span>Saving</a></li>
                    <li ><a href="@(Url.Action("About", "Home"))" ><span></span>Owe</a></li>
                </ul>
                <span id="rights">Copyright © KuBoKid</span>
            </div>
            </div><!--close left column-->

    </div>
    </div>


    <script src="~/Scripts/jquery2-1-3.min.js"></script>
    <script src="~/Scripts/index.js"></script>



</body>
</html>
