﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Money Lover</title>


    <link rel="stylesheet" href="css/reset.css">
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/fonts/google-fonts.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">



</head>
<body>
    <div class='form aniamted bounceIn'>
        <div class='switch'>
            <i class='fa fa-pencil fa-times'></i>
            <div class='tooltip'>Register</div>
        </div>
        <div class='login'>
            <h2>Login To Your Account</h2>
            <form>
                <input placeholder='Username' type='text'>
                <input placeholder='Password' type='password'>
                <button>Login</button>
            </form>
        </div>
        <div class='register'>
            <h2>Create An Account</h2>
            <form>
                <input placeholder='Username' type='text'>
                <input placeholder='Password' type='password'>
                <input placeholder='Confirm Password' type='password'>
                <input placeholder='Your Full Name' type='text'>
                <input placeholder='Birth Date (mm/dd/yy)' type='text'>
                <input placeholder='Email Address' type='email'>
                <input placeholder='Telephone' type='number'>
                <input placeholder='Contact Address' type='text'>
                <button>Register</button>
            </form>
        </div>
        <footer>
            <a href='http://andytran.me'>Forgot Password?</a>
        </footer>
    </div>
    <script src="~/Scripts/jquery2-1-3.min.js"></script>
    <script src="~/Scripts/index.js"></script>



</body>
</html>
